# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
gevent

Flask
flask-cors
numpy
scikit-learn
scipy
git+git://github.com/Clarifai/clarifai-python.git
git+git://github.com/andykamath/python-instagram.git
pymongo