<html>
  <head>
    <title>Predictagram</title>
  </head>

  <body>
    <center>
      <h3><a href="https://instagram.com/oauth/authorize/?client_id=b16c495d71ae4e079105cd632d6ed22d&redirect_uri=http://localhost:8080/training.html&response_type=token">Click here to analyze your Instagram account</a></h3>
    </center>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    if (window.location.hash) {
      // Get the hash
      hash = window.location.hash;

      // Get the access token
      hashParts = hash.split('=');
      token = hashParts[1];

      // Get the user
      tokenParts = token.split('.');
      user_id = tokenParts[0];

      // Send access token to server
      $.ajax({
        type: 'POST',
        complete: function (data) {
          window.location.assign('/upload');
        },
        contentType: 'application/json; charset=utf-8',
        url: '/register-account',
        data: JSON.stringify({token: token, user_id: user_id}),
        dataType: 'json'
      });
    }
    </script>
  </body>
</html>
